/* login and signup page */
.login {
  flex-direction: row;
}

.signup {
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 100vh;
  padding-top: 20vh;
  align-items: center;
}

.svg {
  width: 70vw;
  background-image: url("../public/login.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
