/* general */
.wrapper {
  display: flex;
  background: #faf9f9;
}

/* collage page */
.collage {
  min-height: 100vh;
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
  padding: 5px;
}

.collageContent {
  display: flex;
  height: 3vh;
  justify-content: space-evenly;
  align-items: center;
}

/* projects page */
.projectsPage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.collageForm {
  position: absolute;
  width: 30vw;
  min-height: 30vh;
  background: #fcfafa;
  margin-left: 35vw;
  margin-top: 25vh;
  flex-direction: column;
  align-items: center;
}

.projectsContent {
  width: 90vw;
  height: 90vh;
  border: 5px grey solid;
  border-radius: 10px;
}

.cards {
  max-height: 70vh;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* login and signup page */
.login {
  flex-direction: row;
}

.signup {
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 100vh;
  padding-top: 20vh;
  align-items: center;
}

.svg {
  width: 70vw;
  background-image: url("../public/login.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
