/* collage page */
.collage {
  min-height: 100vh;
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
  padding: 5px;
}

.collageContent {
  display: flex;
  height: 3vh;
  justify-content: space-evenly;
  align-items: center;
}
