.outerDivStyle {
  z-index: 1;
  position: absolute;
  cursor: grab;
}

.outerDivStyle:active {
  cursor: grabbing;
}

.innerDivStyle {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.imageStyle {
  z-index: -2;
  width: 100%;
  height: 100%;
}

.resizer {
  position: absolute;
  width: 11px;
  height: 11px;
  background: green;
  z-index: 2;
}

.zIndexBtn {
  width: 17.5px;
  height: 17.5px;
  position: absolute;
  z-index: 2;
  top: 50%;
  display: flex;
  background: black;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.zIndexBtnLeft {
  left: -5px;
}

.zIndexBtnRight {
  right: -5px;
}

.ne {
  top: -2px;
  right: -2px;
  cursor: ne-resize;
}

.nw {
  top: -2px;
  left: -2px;
  cursor: nw-resize;
}

.sw {
  bottom: -2px;
  left: -2px;
  cursor: sw-resize;
}

.se {
  bottom: -2px;
  right: -2px;
  cursor: se-resize;
}
